:root {
  --background-color: rgb(207 217 222 / 37%);
  --background-elem-primary: white;
  --background-elem-secondary: black;

  --color-primary: black;
  --color-secondary: grey;
  --color-light: white;
  --color-blue: #2997ff;
  --color-pink: #e63ba4;

  --font-size-s: 1em;
  --font-size-m: 1.2em;
  --font-size-l: 1.5em;
  --font-size-xl: 2em;

  --padding-default: 0.2em;

  --box-shadow: 0px 0px 5px 1px lightgrey;
  --box-shadow-hover: 0px 0px 5px 3px lightgrey;
  
}

html, #__next, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}